/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    color: white;
    font-size: 11px;
    font-family: 'AR One Sans', sans-serif;
    background-color: black;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.flex {
    display: flex;
}

i {
    cursor: pointer;
}

/* #endregion COMMON*/

/* #region HEADER*/

.head-bar {
    height: 50px;
    justify-content: end;
    align-items: center;
}

.butt-list {
    gap: 12px;
    padding-right: 8px;
}

.butt-list li {
    background-color: #4A4A4A;
    padding: 4px;
    border-radius: 3px;
}

/* #endregion HEADER*/

/* #region MAIN*/

.gallery {
    overflow-y: scroll;
    padding: 20px 60px;
    flex-wrap: wrap;
    gap: 12px 6px;
    justify-content: center;
}

.webcam {
    width: 250px;
    height: 140px;
    position: relative;
}

.webcam img {
    width: 250px;
    height: 140px;
    display: block;
}

.label {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

}

/* #endregion MAIN*/

/* #region FOOTER*/

/* #endregion FOOTER*/