/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    color: white;
    font-size: 11px;
    font-family: 'AR One Sans', sans-serif;
    background-color: black;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.flex {
    display: flex;
}

i {
    cursor: pointer;
}

.mic-video-controls,
.controller,
.chat-options {
    gap: 14px;
}

.foot-bar,
.controller,
.chat-options {
    align-items: center;
}

/* #endregion COMMON*/

/* #region HEADER*/

.head-bar {
    background-color: black;
    height: 50px;
    justify-content: end;
    align-items: center;
}

.butt-list {
    gap: 12px;
    padding-right: 8px;
}

.butt-list li {
    background-color: #4A4A4A;
    padding: 4px;
    border-radius: 3px;
}

/* #endregion HEADER*/

/* #region MAIN*/

main {
    overflow-y: scroll;
    height: calc(100vh - 118px);
}

.gallery {
    padding: 20px 60px;
    flex-wrap: wrap;
    gap: 12px 6px;
    justify-content: center;
}

.webcam {
    width: 250px;
    height: 140px;
    position: relative;
}

.webcam img {
    width: 100%;
    display: block;
}

.label {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 4px;
    position: absolute;
    left: 0;
    bottom: 0;

}

/* #endregion MAIN*/

/* #region FOOTER*/

.foot-bar {
    background-color: #222222;
    justify-content: space-between;
    height: 68px;
    text-align: center;
}

.foot-bar .mic-video-controls {
    padding-left: 8px;
}


.controller-icon {
    display: flex;
}

.controller .controller-info i {
    font-size: 22px;
    padding-bottom: 5px;
}

.controller-selector i {
    font-size: 8px;
}

.controller-info .fa-solid.fa-share-from-square {
    color: #4BC800;
}

.end-meeting {
    background-color: #4A4A4A;
    width: 8%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.end-meeting a {
    color: red;
}

/* #endregion FOOTER*/